body {
  margin: 0;
  padding: 0;
}

.listItem p, .listItem input, listItem img{
  vertical-align: middle;
  line-height: 0.5;
}

.listItem{
  text-align: left;
}
.listItem p{
  text-align: left;
}
.listItem:hover > .deleteImg{
  display: inherit;
}

.deleteImg{
  display:none;
}

#todoStatus{
  margin-top:10px;
}
