<!DOCTYPE html>
<html>
<head>
	<title>Namelist</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="../js/render.js"></script>
	<script src="../js/main.js"></script>
	<script type="text/javascript"></script>
</head>
<body>
	<div id="wrapper">
	<h2>Name List</h2>
	<div id='formDiv'>
		<form id="userForm">
			<div class="inFormLine">
				<input type="text" name="name" id="name">
			</div>
			<div class="inFormLine">
				<input type="submit" value="Add Name">
			</div>
		</form>
	</div>
	<div>
		<div id="userList">
		</div>
	</div>

	</div>	
</body>
</html>