<!DOCTYPE html>
<html lang="en">
<head>
  <title>Survey Form</title>
  <meta charset="UTF-8">
  <meta name="description" content="Survey Form">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>
<div id="container">
  <form id="surveyForm" action="/" method="get">
    <div class="input">
      <label for="name">Your Name:</label>
      <p><%=name%></p>
    </div>
    <div class="input">
      <label for="location">Dojo Location:</label>
      <p><%=location%></p>
    </div>
    <div class="input">
      <label for="language">Favorite Language: </label>
      <p><%=language%></p>
    </div>
    <div id="comments">
      <label for="comments">Comments</label>
      <p><%=comments%></p>
    </div>
    <input id="submit" type="submit" value="Go Back">
  </form>

</div><!-- end of wrapper -->
</body>
</html>